/* html[data-theme="light"] {
    #nav-sidebar tr a{
        color: #f8f8f8
    }


    div.breadcrumbs {
        background-color: var(--primary);
    }    
} */


html[data-theme="dark"] {
    --header-bg: #252525;
    --breadcrumbs-bg: #323435;
    --selected-row: #3a4043;
}


@media (prefers-color-scheme: dark) {
    :root {
        --header-bg: #252525;
        --breadcrumbs-bg: #323435;
        --selected-row: #3a4043;
    }
}


html[data-theme="light"] {
    #nav-sidebar tr th a:link, #nav-sidebar tr th a:visited {
        color: #89d8ff;
    }
}


@media (prefers-color-scheme: light) {
    #nav-sidebar tr th a:link, #nav-sidebar tr th a:visited {
        color: #89d8ff;
    }
}