/* html[data-theme="light"] {
    #nav-sidebar tr a{
        color: #f8f8f8
    }


    div.breadcrumbs {
        background-color: var(--primary);
    }    
} */


html[data-theme="dark"] {
    /* --primary: #4B49AC;
    --secondary: #191B20;
    --selected-row: #34335f; */

    /* --body-bg: #1e1e2f; */
}


@media (prefers-color-scheme: dark) {
    :root {
        /* --primary: #0390e8;
        --secondary: #191B20;
        --selected-row: #34335f; */

        /* --body-bg: #1e1e2f; */
    }
}