/* Dark theme */
html[data-theme="dark"] {
    --header-bg: #252525;
    --breadcrumbs-bg: #323435;
    --selected-row: #3a4043;
}


@media (prefers-color-scheme: dark) {
    :root {
        --header-bg: #252525;
        --breadcrumbs-bg: #323435;
        --selected-row: #3a4043;
    }
}

/* Light theme */
html[data-theme="light"] {
    --breadcrumbs-bg: #255a73;

    #nav-sidebar tr th a:link,
    #nav-sidebar tr th a:visited {
        color: #fff;
    }

    #nav-sidebar .current-model {
        background: var(--breadcrumbs-bg);
    }

    #nav-sidebar .addlink {
        color: #fff;
    }

}


@media (prefers-color-scheme: light) {
    :root {
        --breadcrumbs-bg: #255a73;
    }
    #nav-sidebar tr th a:link,
    #nav-sidebar tr th a:visited {
        color: #fff;
    }

    #nav-sidebar .current-model {
        background: var(--breadcrumbs-bg);
    }

    #nav-sidebar .addlink {
        color: #fff;
    }

}