{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_list %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static "admin/css/changelists.css" %}">
{% endblock %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
  </div>
{% endblock %}


{% block content %}
  <div id="content-main">
    <div class="module filtered" id="changelist">
      <div class="changelist-form-container">
        <div class="results">
          <table id="result_list">
            <thead>
            <tr>
              {% for title in data.title %}
                <th scope="col" class="">
                  <div class="text"><span>{{ title }}</span></div>
                  <div class="clear"></div>
                </th>
              {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for row in data.rows %}
              <tr>
                {% for item in row %}
                  <td class="">{{ item }}</td>
                {% endfor %}
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
  <br class="clear">
{% endblock %}
