{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_list %}


{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}"/>
{% endblock %}

{#{% block breadcrumbs %}#}
{#    <div class="breadcrumbs">#}
{#        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>#}
{#        &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ app_label|capfirst|escape }}</a>#}
{#        &rsaquo; {% if has_change_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">#}
{#        {{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}#}
{#        &rsaquo; {% trans 'Upload' %}#}
{#    </div>#}
{#{% endblock %}#}

{% block content %}
    <h1>{{ context }}</h1>
    <form {% if form.is_multipart %}enctype="multipart/form-data" {% endif %}{% if form_url %}action="{{ form_url }}" {% endif %} method="POST">
        {% csrf_token %}

        <fieldset class="module aligned">
            {% for field in form %}
                <div class="form-row">
                    {{ field.errors }}

                    {{ field.label_tag }}

                    {{ field }}

                    {% if field.field.help_text %}
                        <p class="help">{{ field.field.help_text|safe }}</p>
                    {% endif %}
                </div>
            {% endfor %}
        </fieldset>

        <div class="submit-row">
            <input type="submit" class="default" value="{% trans "Submit" %}">
        </div>
    </form>
{% endblock %}
